* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 2opx;
  div {
    display: flex;
    gap: 20px;
    a {
      font-size: 20px;
      color: lightslategrey;
      text-decoration: none;
    }
    .active {
      text-shadow: 0 0 10px rgb(9, 104, 151);
    }
  }
}
.list_section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  padding: 40px;
}
.card {
  background-color: rgb(85, 83, 83);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  .head {
    display: flex;
    gap: 40px;
    align-items: center;
    .letter {
      background-color: white;
      height: 60px;
      width: 60px;
      display: grid;
      place-items: center;
      color: black;
      font-size: 30px;
      border-radius: 10px 0 10px 0;
    }
    .info {
      font-size: 20px;
    }
  }
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    margin-top: 10px;
    .field {
      display: flex;
      align-items: center;
      gap: 10px;
      .icon {
        width: 24px;
      }
    }
    .status {
      padding: 10px 20px;
      border-radius: 10px;
      background-color: rgb(145, 145, 8);
    }
  }
}
